
@media screen and  (max-width : 1095px) {
    #jettfr{
        top: 0px;
        height: 100%;
        left: -50px;
    }
    #logo img{
        width: 80%;
    }
    #in-2m{
        flex-wrap: wrap;
        height: 92vh;
    }
    #in-2L,#in-2R{
        width: 100%;
        height: 46vh;
        opacity: 1;
    }
    #l2-a,#r2-a{
        height: 10%;
        font-size: 40PX;
    }
    #in-2T{
        height: 8vh;
    }
    #valog{
        height: 13vh;
        top: 95.3vh;
    }
    .map-pics{
        height: 90%;
        opacity: 1;
        box-shadow: 0vw 0vw 6px #ff4753;
    }
    #in-2R:hover,#in-2L:hover{
        width: 100%;
    }
    #agentsbut{
        font-size: 30px;
        position: relative;
    }
    .char-img{
        height: 125%;
    }
    #b-2-b{
        position: relative;
    }
    .social{
        height: 40vh;
        width: 25vw;
        margin-left: 10px;
    }
}
@media screen and  (max-width : 780px) {
    .social{
        top: 70px;
        height: 30vh;
        width: 23vw;
    }
    #jettfr{
        height: 90vw;
        z-index: -1;
        top: -200px;
    }
    #b1-m{
        font-size: 9vw;
        height: 43%;
    }
    #b1-t{
        font-size: 2vw;
    }
    #in-1{
        height: 32vw;
        width: 60vw;
    }
    #in-1b{
        width: 100%;
        height: 100%;
    }
    #in-1a{
        height: 0PX;
        width: 0px;
    }
    .char-img{
        height: 90%;
    }
}
@media screen and  (max-width : 620px) {
    @keyframes valogshift {
        from{
            left: 0vw;
        }
        to{
            left: 65vw;

        }
    }
    @keyframes ktg{
        0%{
            width: 0%;
        }
        100%{
            width: 26%;
        }
    }
    #jettfr{
        height: 70vh;
        transform: translateX(-60px);
    }
    #pg-1{
        overflow: hidden;
    }
    #sctop{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    #sctbtm{
        display: none;
    }
    .social{
        top: 10px;
        width: 45vw;
    }
    #ost{
        /* font-size: 5vh; */
        width: 15vw;
    }
    #socin img{
        width: 35%;
    }
    .sclbtn{
        transform: translateY(75px) translateX(-250px);
    }
    .social:hover{
        height: 1000px;
        .sclbtn{
            font-size: 5vw;
            height: 40px;
            width: 70%;
            transform: translateY(75px) translateX(0px);
        }
        #socin img{
            width: 50%;
            top: -40px;
            transition: all ease-out 0.2s;
        }
    }
    #respnav{
        position: relative;
        top: 50px;
        left: -3px;
        width: 28vw;
        height: 300px;
        background-color: black;
        display: none;
        align-items: center;
        justify-content: center;
    }
    #respnav ul{
        position: relative;
        z-index: 500;
        color: black;
    }
    #nl{
        display: none;
    }
    #rnl{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #rnl li{
        border: #ff4753 2px solid;
        width: 100%;
        list-style: none;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3.5vw;
        transition: ease-in-out 0.15s;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    #link-main1{
        font-size: 3.5vw;
    }
    .rnavs{
        color: white;
        height: 25%;
    }
    #rnl li a:hover{
        color: #ff4753;
        transition: ease-in-out 0.15s;
        font-size: 1.5vw;
        text-decoration: underline #ff4753;
    }
    #navlist{
        width: 30vw;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    #logo{
        width: 70vw;
    }
    #logo img{
        width: 100%;       
    }
    #menbtn{
        display: block;
    }
}