@import url('https://fonts.googleapis.com/css2?family=Archivo:ital@0;1&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chakra+Petch&family=Righteous&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Righteous&display=swap');
    @keyframes valogshift {
        from{
            left: 0vw;
        }
        to{
            left: 75vw;

        }

    }
@keyframes ktg{
    0%{
        width: 0;
        transition: 1s ease-out;
        filter: drop-shadow(0px 0px 0px white);
    }
    100%{
        width: 22%;
        transition: 1s ease-out;
        filter: drop-shadow(0px 0px 10px white);
    }
}
@keyframes jettdance {
    from{
        filter: drop-shadow(4px 4px 5px black);
        rotate: -3deg;
    }
    to{
        filter: drop-shadow(4px 4px 5px #ff4753);
        rotate: 3deg;
    }
}
@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes ban-cc {
    from{
        background-color:#ff4753 ;
        box-shadow: 0.4vw 0.3vw 10px white;
    }to{
        background-color: black;
        box-shadow: 0.4vw 0.3vw 10px #ff4753;
    }

}

@keyframes text-cc{
    from{
        color: white;
        text-shadow: #ff4753 0.7px 0.7px;
    }
    to{
        color: black;
        text-shadow: white 0.7px 0.7px;
    }
}
@keyframes agenrev{
    from{
        left : 48%
    }
    to{
        left: 24%;
    }
}
@keyframes agenrev2{
    from{
        left : -24%
    }
    to{
        left: 0%;
    }
}


*{
    margin: 0px;
    padding: 0px;

    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
    position: absolute;
  }
html{
    scroll-behavior: smooth;
    background-color: black;
}
nav{
    justify-content: space-around;
    display: flex;
    height: 10vh;
    /* position: sticky; */
    top: 0;
    background-color: black;
}
#logo img{
    width: 60%;
}
#logo{
    width: 44vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navlist{
    width: 56vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#nl li{
    list-style: none;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
    transition: ease-in-out 0.15s;

}
.navs{
    color: white;

}
#nl li a:hover{
    color: #ff4753;
    transition: ease-in-out 0.15s;
    font-size: 1.5vw;
    text-decoration: underline #ff4753;
}

#link-main1{
    color: #ff4753;
    font-size: 1.5vw;
    text-decoration: underline #ff4753;
}

#pg-1{
    position: relative;
    z-index: -3;
    width: 100vw;
    height: calc(90vh - 2px);   
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg,#ff4753,black,black,#ff4753);
}
#in-1{
    animation: ban-cc 2s ease-in-out  infinite alternate;
    box-shadow: 0.4vw 0.3vw 10px white;
    height: 64vh;
    width: 80vw;
    background-color: #ff4753;
    display: flex;
    border-radius: 8%;
}
#in-1a{
    height: 100%;
    width: 35%;
}
#in-1b{
    height: 100%;
    width: 65%;
}
#jettfr{
    position: relative;
    top: -100px;
    height: 120%;
    animation: jettdance 2s alternate ease-in-out infinite;
    transition: 0.5s ease-in-out all;
    left: 0px;
}

#b1-t{
    color: white;
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    display: flex;
    align-items: self-end;
    justify-content: center;
    height: 20%;
    animation: text-cc 2s ease-in-out  infinite alternate-reverse;
    

}
#b1-m{
    animation: text-cc 2s ease-in-out  infinite alternate-reverse;
    font-weight: 800;
    font-size: 6vw;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Archivo", sans-serif;
    transition: ease-in-out 0.3s;   
}
#b1-m span{
    animation: clrchng 1 ease-in-out 2.25s ;
}
#b1-l{
    height: 50%;
    display: flex;
    align-items: safe;
    justify-content: center;
}
#b1-l a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: default;
}
#b1-l button{
    background-color: black;
    box-shadow: 0px 0px 30px black;
    font-family: "Archivo";
    font-size: 2.2vw;
    height: 35%;
    width: 35%;
    border-radius: 20%/50%;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
#b1-l button:hover{
    box-shadow: 0.15vw 0.15vw red;
    color: #ff4753;
    height: 40%;
    width: 40%;
    border-radius: 10%/25%;
    background-color: black;
    transition: ease-in-out 0.5s;
    font-size: 2.5vw;
}
@keyframes clrchng {
    0%,100%{
        color: #fff;
        text-shadow: 0px 0px 12px white,0px 0px 50px white,0px 0px 100px white;
    }
    10%,90%{
        color: black;
        text-shadow: none;
    }
}
#b1-m span:nth-child(1){
    animation-delay: 0.25s;
}
#b1-m span:nth-child(2){
    animation-delay: 0.5s;
}
#b1-m span:nth-child(3){
    animation-delay: 0.75s;
}
#b1-m span:nth-child(4){
    animation-delay: 1s;
}
#b1-m span:nth-child(5){
    animation-delay: 1.25s;
}
#b1-m span:nth-child(6){
    animation-delay: 1.5s;
}
#b1-m span:nth-child(7){
    animation-delay: 1.75s;
}
#b1-m span:nth-child(8){
    animation-delay: 2s;
}
#pg-2{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
}
#in-2L{
    opacity: 0.25;
    height: 100%;
    width: 50%;
    border: 2px #ff4753 inset;
    transition: ease-in-out 0.3s;
    border-bottom: none;
    
}
#in-2R{
    opacity: 0.25;
    border: 2px #ff4753 inset;
    height: 100%;
    border-bottom: none;
    width: 50%;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    
}
#in-2L:hover{
    opacity: 1;
    width: 95%;
    transition: ease-in-out 0.3s;
    
}
#in-2R:hover{
    opacity: 1;
    width: 95%;
    transition: ease-in-out 0.3s;
}
#valog{
    z-index: 2;
    position: absolute;
    top: 92vh;
    left: 0px;
    height: 28vh;
    animation: valogshift 4.5s infinite alternate ease-in-out;
}

#in-2T{
    cursor: default;
    z-index: 6;
    font-family: "Acme", sans-serif;
    font-weight: 800;
    letter-spacing: 10px;
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(to right,black,#ff4753,#ff4753,black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    text-shadow: 1px 1px 1px white;
}
h1{
    -webkit-text-stroke: white 0.1px;
    color: transparent;
    margin-left: 20px;
    transition: 1s ease-out;
    text-shadow: 1px 1px 1px transparent;
    font-size: 8vw;
}
h1::before{
    animation: ktg infinite 4.5s ease-in-out alternate;
    content: "GAME";
    overflow: hidden;
    width: 0%;
    /* height: 100 */
    position: absolute;
    color: white;
    transition: 1s ease-out;
    text-shadow: 1px 1px 1px black;
}


#in-2m{
    width: 100vw;
    height: 80vh;
    display: flex;
    background-color: black;
}
#l2-a{
    height: 20%;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    color: #ff4753;
    font-size: 150PX;
    display: flex;
    justify-content: center;

}
#l2-b{
    width: 100%;
    height: 79%;
    border-radius: 5%;
    margin-right: 10px;
}
#r2-a{
    height: 20%;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    color: #ff4753;
    font-size: 150PX;
    display: flex;
    justify-content: center;
    position: relative;
    
    
    
}
#r2-b{
    scrollbar-color: #ff4753 #e0e0e0;
    scrollbar-width: thin;
    font-family: "Chakra Petch", sans-serif;
    font-size: 8vh;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 79%;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.map-pics{
    height: 96%;
    border: black solid 2px;
    border-radius: 10%;
    margin: 5px;
    transition: ease-in-out 0.3s;
    opacity: 0.25;
}
.map-pics:hover{
    box-shadow: 0vw 0vw 14px #ff4753;
    transition: ease-in-out 0.3s;
    opacity: 1;
}
#t-2-b{
    height: 90%;
    width: 100%;
    border-radius: 5%;
    overflow: scroll;
}
#t-2-b::-webkit-scrollbar{
    display: none;
}

#r2-b::-webkit-scrollbar{
    width: 10px;
    color: purple;
}
#r2-b::-webkit-scrollbar-track {
    background-color: rgb(255, 0, 0);
}
#r2-b::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.char-img{
    position: relative;
    height: 80%;
    -webkit-filter: drop-shadow(2px 2px white);
    transition: ease-in-out 0.1s;
}
.char-img:hover{
    -webkit-filter: drop-shadow(6px 6px 7px #ff4753);
    transition: ease-in-out 0.1s;
}
#b-2-b{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 10;
}

#agentsbut{
    font-family: "Chakra Petch", sans-serif;
    height: 100%;
    width: 100%;
    color: #ff4753;
    font-size: 40px;
    background-color: black;
    border: 2px #ff4753 inset;
    border-radius: 7%/15%;
    transition: all ease-in-out 0.3s;
    font-weight: 700;
}

#agentsbut:hover{
    border: 2px white inset;
    background-color: #ff4753;
    color: black;
    transition: all ease-in-out 0.15s;   
}
#pg-3{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-color: green; */
}
#ost{
    text-orientation: upright;
    writing-mode: vertical-lr;
    height: 100%;
    width: 10vw;
    background-color: black;
    color: white;
    background-color: #ff4753;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}
#scont{
    height: 100%;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.1);
    
}
#sctop{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -10px;
    flex-wrap: wrap;
    
}
.social{
    top: 2%;
    height: 23vw;
    width: 18vw;
    margin: 20px;
    margin-left: 80px;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-image: conic-gradient(transparent,transparent,transparent,--clr);
    transition: 0.4s all ease-out;
}
.social::before{
    content: '';
    position: absolute;
    width: 330%;
    height:  330%;
    background-image: conic-gradient(transparent,transparent,transparent,white);
    animation: rot 4s linear infinite;
    z-index: 0;


}
.social::after{
    content: '';
    position: absolute;
    width: 270%;
    height:  270%;
    background-image: conic-gradient(transparent,transparent,transparent,white);
    animation: rot 4s linear infinite;
    animation-delay: -2s;
    z-index: 0;

}
.social:hover::before,.social:hover::after{
    background: conic-gradient(transparent,transparent,transparent,var(--clr));
}


#socin{
    width: 98%;
    height: 98%;
    background-color: black;
    position: relative;
    z-index: 5;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#socin img{
    transition: all ease-out 0.2s;
    width: 48%;
    -webkit-filter: drop-shadow(0px 0px 2px white);
    position: relative;
    top: 0
}

#ag_pg_1{
    height: 640vh;
    width: 100vw;
    background-image: linear-gradient(270deg,transparent,#ff4753,transparent);

}
#space{
    height: 15vh;
    width: 100%;
}
#chars{
    height: 97%;
    width: 100%;
}
.charcls{
    height: 25vh;
    width: 75%;
    display: flex;
    background-color: #ff4753;
    box-shadow: 8px 8px 40px black;
    border: 3px solid white;
    margin-top: 20px;
    position: relative;
    #lorem{
        display: none;
    }
    transition: ease-in-out 0.5s;
}
.chrnm{
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    text-shadow: 3px 3px 5px white;

}
.charsimg{
    position: relative;
    height: 165%;
    top: -130px;
    -webkit-filter: drop-shadow(4px 4px 5px #2A0045);
    transition: ease-in-out 0.5s;
}
#char1{
    margin-top: 0px;
}
#char1,#char3,#char5,#char7,#char9,#char11,#char13,#char15,#char17,#char19,#char21{
    animation: agenrev2 0.7s ease-out;
}
#char2,#char4,#char6,#char8,#char10,#char12,#char14,#char16,#char18,#char20,#char22{
    left: 24%;
    animation: agenrev 0.7s ease-out;
}
.charcls:hover{
    background-color: #2A0045;
    .chrnm{
        display: none;
    }
    cursor: none;
    height: 35vh;
    #lorem{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        text-shadow: 1.2px 1.2px black;
    }
    .charsimg{
        -webkit-filter: drop-shadow(4px 4px 5px white);
        top: -160px;
        transition: ease-in-out 0.5s;
    }   
    transition: ease-in-out 0.5s;
}
#ag_char2{
    -webkit-filter: drop-shadow(4px 4px 5px #1E8CAF);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#char2:hover{
    background-color: #1E8CAF;
    #ag_char2{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char3{
    -webkit-filter: drop-shadow(4px 4px 5px #FD3800);
}
#char3:hover{
    background-color: #FD3800;
    #ag_char3{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char4{
    -webkit-filter: drop-shadow(4px 4px 5px #12185A);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)    
}
#char4:hover{
    background-color: #12185A;
    #ag_char4{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char5{
    -webkit-filter: drop-shadow(4px 4px 5px #158b12);
}
#char5:hover{
    background-color: #158b12;
    #ag_char5{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char7{
    -webkit-filter: drop-shadow(4px 4px 5px #574e43);
}
#char7:hover{
    background-color: #574e43;
    #ag_char7{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char9{
    -webkit-filter: drop-shadow(4px 4px 5px #008AC1);
}
#char9:hover{
    background-color: #008AC1;
    #ag_char9{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char6{
    -webkit-filter: drop-shadow(4px 4px 5px #060819);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)    
}
#char6:hover{
    background-color: #060819;
    #ag_char6{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#ag_char8{
    -webkit-filter: drop-shadow(4px 4px 5px #b1bf03);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)    
}
#char8:hover{
    background-color: #b1bf03;
    #ag_char8{
        -webkit-filter: drop-shadow(4px 4px 5px white);
    }
}
#pg-1_3{
    height: calc(90vh - 2px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.guns{
    height: 33%;
    width: 33%;
    border: 1px #ff4753 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.guns:hover{
    img{
        -webkit-filter: drop-shadow(3px 3px 8px #ff4753);
    }
}
.guns img{
    width: 75%;
    -webkit-filter: drop-shadow(3px 3px 8px white);
    transition: ease-in-out all 0.15s;
    position: relative;
    left: 60px;
}
#gun1 img,#gun3 img{
    width: 65%;
}
#clickhere{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    height: 25px;
    min-width: 120px;
    border-radius: 20%/40%;
    background-color: #ff4753;
    border: red 1px solid;
    color: black;
    cursor: pointer;
    top: 170px;
    left: -250px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 12px #ff4753;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 17px;
}
#gundet{
    top: 20%;
    left:  20%;
    z-index: 6;
    position: fixed;
    height: 40%;
    width: 40%;
    background-image: linear-gradient(45deg,#ff4753,black,black,#ff4753);
    border: 2.5px #ff4753 solid;
    border-radius: 8%/8%;
    display: none;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 0px 140px #ff4753;
}
.material-symbols-outlined{
    color: white;
    font-weight: 800;
    font-size: 30px;
    position: relative;
    left: 70vw;
    top: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    opacity: 1;
}
.wp-block-table{
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px black); 
    transition: ease-in-out all 0.3s;
    opacity: 0;
    max-height: 250px;
  
}
.wp-block-table table,.wp-block-table th,.wp-block-table td{
    border: 2px white solid;
    -webkit-filter: drop-shadow(2px 2px 2px black);
}
#gundet_cut{
    transition: ease-in-out all 0.15s;
    opacity: 0;
}
#gundetbot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    position: relative;
    top: 80px;
    transition: ease-in-out all 0.3s;
    opacity: 0;
}
#datlist{
    position: relative;
    color: white;
    font-size: 40px;
    border: white 2px solid;
    list-style: none;
    padding: 30px;
    bottom: 15px;
    -webkit-filter: drop-shadow(3px 3px 4px black);
}
#gundet1{
    -webkit-filter: drop-shadow(3px 3px 6px white);
}
#gun-name{
    top: 5px;
    left: 650px;
    position: absolute;
    font-size: 40px;
    color: #ff4753;
    font-family: fantasy;
    text-shadow: 0px 0px 20px #ff4753;
}
#ballcur{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ff4753;
    transition: ease-in-out all ;
    z-index: 30;
    mix-blend-mode: difference;
    display: none;
}
.sclbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 50px;
    width: 155px;
    /* border: 1px solid white; */
    position: absolute;
    color: black;
    transform: translateY(120px) translateX(-250px);
    cursor: pointer;
    transition: all ease-out 0.2s;
    font-family: fantasy;
    border-radius: 15%/20%;
    opacity: 0; 
    

}
.sclbtn a{
    text-decoration: none;
    color: var(--clr);
}
.sclbtn a:visited{
    color: var(--clr);
}
.sclbtn:hover{
    letter-spacing: 1px;
}
.social:hover{
    .sclbtn{
        border: 0.001vh solid var(--clr);
        opacity: 1;
        box-shadow: 1px 1px 50px var(--clr);
        transition: all ease-out 0.2s;
        transform: translateY(120px) translateX(0px);
    }
    #socin img{
        top: -20px;
        transition: all ease-out 0.2s;
    }
}
#respnav{
    display: none;
}
.material-symbols-outlined {
    position: relative;
    transform: translateX(20vw);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#menbtn{
    display: none;
}